@model IEnumerable<ASDWP.Models.DbTables>

@{
    ViewBag.Title = "Index";
}

<h2>Tables Source</h2>

<p>
    @Html.ActionLink("Create Table", "Create", null, new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            Table Name
        </th>
        <th>
            Source Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbSource.Name)
        </td>
        <td>
            <a class="btn-grid" href="@Url.Action("Edit","DbTables", new { id = item.Id }) "><span><img src="~/Content/image/iconos_Lapiz.png" /></span></a>
            <a class="btn-grid" href="@Url.Action("Index","DbColumns", new { idt = item.Id }) "><img src="~/Content/image/iconos_Link 2.png" /></a>
            <a class="btn-grid" href="@Url.Action("Details","DbTables", new { id = item.Id }) "><img src="~/Content/image/iconos_Buscar.png" /></a>
            <a class="btn-grid" href="@Url.Action("Delete","DbTables", new { id = item.Id }) "><img src="~/Content/image/iconos_Basura.png" /></a>
        </td>
    </tr>
}

</table>
