@model ASDWP.Models.DbTables

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Tabla</h2>

<div>
    <hr />
    <div class="container bg-secondary text-light">
        <h1>@Model.Name</h1>
        <h5>Origen: @Model.Name</h5>
        <h5>Destino: @Model.DbSource.DbProviders.Name</h5>
    </div>
</div>

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>
                Columnas
            </th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var m in Model.DbColumns)
            {                
                    <tr>                
                        <td>
                            @m.Name
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>

<p>    
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class= "btn btn-success" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-info" })
</p>
