@using Microsoft.AspNet.Identity
@using ASDWP.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="container-fluid   text-dark">
        <div class="row">
            <div class="d-flex align-content-center" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 style="padding-left: 30px;">Bienvenido</h1>
                    <i style="font-size:18pt; color:#808080;padding-left:30px;">@User.Identity.Name</i><br />
                    <img src="~/Content/image/Logo_Solo_nombre.png" style="zoom:75%; " />
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="d-flex align-content-center" >
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-left:150px;">                  
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
    </div>


}
else
{

    <div class="container-fluid">
        <div class="row">
            <div class="d-flex align-content-center">
                <div class="col-md-2"></div>
                <div class="col-md-8" >
                    <h1></h1>
                    <p>@User.Identity.Name</p>
                    <img src="~/Content/image/Logo_Solo_nombre.png" style="zoom:75%; " />
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="d-flex align-content-center p-3">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label " })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                                @Html.ActionLink("Registrarse", "Register", "Account", null, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
}

