@model ASDWP.Models.AspNetUsers
@{
    ViewBag.Title = "Restablecer contraseña";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPasswordSave", "UserSetting", new { id = Model.Id }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <h4>Restablezca la contraseña.</h4>
        <hr />
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                <input id="Email" name="Email" type="email" value="@Model.Email" class="form-control" />
            </div>
        </div>
        <div class="row">
            <label  class="col-md-2 col-form-label">Password</label>
            <div class="col-md-10">
                <input id="Password" name="Password" type="password" value="" class="form-control" />
            </div>
        </div>
        <div class="row">
            <label class="col-md-2 col-form-label">Password Confirm</label>
            <div class="col-md-10">
                <input id="passwordConfirm" name="passwordConfirm" type="password" value="" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Restablecer" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
